header
    h1.logo
        a(href="/") Knitten
    .navlink
        a(href="#").plus 
            img(src="/images/plus.svg", alt="+")
        a(href="#").minus.hidden
            img(src="/images/minus.svg", alt="-")
        .add-box.expand.hidden
            a(href="/newpattern").button Add a New Pattern
            a(href="#").button Start a New Project