extends layout

block content
    include header
    .container
        .intro
            h2 Turn your stash of yarn into hand-knit greatness.
            include /images/needles.svg
        .main
            h3 Find Inspiration
                span.divider |
                span.tab My Favorites &nbsp;
                    img(src='images/heart.svg')
            .patternfeed
                include patternlist