extends layout

block content
    include header
    .container
        .intro A new way to find, save &amp; share knitting projects.
            br
            include /images/needles.svg
        .main
            h3 Find Inspiration
                span.divider |
                span.tab My Favorites &nbsp;
                    img(src='images/heart.svg')
            .patternfeed
                include patternlist