extends layout

block content
    include header
    .container
        .intro
            h2. 
                Let's turn that lovely yarn stash into some hand-knit greatness.
        include patternlist
