extends layout

block content
    include header
    .container
        .intro
            h2 
                span Let's turn your stash of yarn into some hand-knit greatness. ^&sdot;^
        .main
            h3 Find Inspiration
            .patternfeed
                include patternlist