extends layout

block content
    include header
    .container
        .intro
            h2 
                span.highlight Let's turn your stash of yarn into some hand-knit greatness. ^&sdot;^
        .main
            h3 Find Inspiration
                span.divider |
                span.tab My Favorites &nbsp;
                    img(src='images/heart.svg')
            .patternfeed
                include patternlist