extends layout

block content
    include header
    .container
        .intro
            h2 Let's turn your stash of yarn into some hand-knit greatness. ^&sdot;^
        .main.patternfeed
            h3 Find Inspiration
//-           ul
                each pattern, i in patternlist
                    li
                        pattern.patternname