extends layout

block content
    include header
    .container
        .intro
            h2. 
                Let's turn that lovely yarn stash into some hand-knit greatness. ^&sdot;^
        .patternfeed
            h3.
                Find Inspiration
            #userlist
                table
                    th UserName
                    th Email
                    th Delete?
                tbody