<html>
<head>
	<title>theKnit.net</title>
	<link rel="stylesheet" type="text/css" href="knitstyle.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
	<link rel="icon" href="imgs/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script type="text/javascript" src="frontscript.js"></script>

</head>
<body>
<div class="wrapper">
	<header>
		<h1><a href="index.html">the Knit .net</a></h1>
	</header>

	<div class="new_project">
		<form>
			<ul>
				<li>
					Pattern Name:
					<input type="text" name="name">
				</li>
				<li>
					Author or Source Name:
					<input type="text" name="source">
				</li>
				<li>
					Source URL:
					<input type="text" name="sourceUrl">
				</li>
				<li>
					Type of Item:
					<input type="text" name="type">
				</li>
				<li>
					Needle Size:
					<select name="needleSize">
						<option value="US5/3.75mm">US 5 / 3.75mm</option>
						<option value="US6/4mm">US 6 / 4mm</option>
						<option value="US7/4.5mm">US 7 / 4.5mm</option>
						<option value="US8/5mm">US 8 / 5mm</option>	
						<option value="US9/5.5mm">US 9 / 5.5mm</option>	
						<option value="US10/6mm">US 10 / 6mm</option>
						<option value="US11/8mm">US 11 / 8mm</option>
						<option value="US13/9mm">US 13 / 9mm</option>	
					</select>
				</li>
				<li>
					Yarn Weight:
					<select name="needleSize">
						<option value="2ply">Lace / 2ply</option>
						<option value="4ply">Fingering / 4ply</option>
						<option value="5ply">Sport / 5ply</option>
						<option value="8ply">DK / 8ply</option>	
						<option value="10ply">Worsted / 10ply</option>	
						<option value="12ply">Bulky / 12ply</option>	
					</select>
				</li>
				<li>
					Pattern Instructions:<br>
					<textarea rows="12" cols="100"></textarea>
				</li>
			</ul>

			<a href="success.html"><input type="submit" value="Submit" class="button button1"></a>
		</form>
	</div><!--close New Project-->


	</div><!--Feed-->


</div><!--close wrapper-->

</body>
</html>