ul.patternlist
    each patternObj, i in patternlist
        li  
            a.patternlink(href="/patterns/"+patternObj.id)
                if patternObj.photo
                    img(src="/newphotos/"+patternObj.photo)
                else
                    img(src="images/hat.jpg" alt="placeholder image")
                = patternObj.name
            p= 'by ' + patternObj.sourcename