extends layout

block content
    include header
    .container
        .main.patternpage
            h1= pattern.name
            ul
                li 
                    label Pattern source: 
                    a(href=pattern.sourceurl)= pattern.sourcename 
                li
                    label Type of Item:
                    =pattern.type
                li
                    label Needles:
                    =pattern.needles.size +", "+ pattern.needles.type
                li  
                    label Yarn Weight:
                    =pattern.yarnweight+" ply"
                li
                    label Pattern Instructions
                    =pattern.instructions
