extends layout

block content
    include header
    .container
        .main.patternpage
            h1= pattern.name
            p By 
                a(href=pattern.sourceurl)= pattern.sourcename 
            img(src="/uploads/"+pattern.photo)
            ul                    
                li
                    label Item:
                    =pattern.type
                li
                    label Needles:
                    =pattern.needles.size +", "+ pattern.needles.type
                li  
                    label Yarn Weight:
                    =pattern.yarnweight+" ply"
                
            label Instructions
            pre=pattern.instructions
