extends layout

block content
    include header
    .container
        .main.patternpage
            h1= pattern.name
            ul
                li
                    label Type of Item:
                    =pattern.type
                li
                    label Needles:
                    =pattern.needles.size +", "+ pattern.needles.type
                li  
                    label Yarn Weight:
                    =pattern.yarnweight+" ply"
                li#instructions= pattern.instructions
                li#sourcename= pattern.sourcename
                li#sourceurl= pattern.sourceurl
